.wrapper {
	padding-top: 20px;
	padding-left: 100px;
	width: 970px;
	position: relative;
}

/* login and registration form */
.error {
	color: red;
}
	.error p {
		margin-bottom: 3px;
		font-size: .8em;
	}
.confirm {
	color: green;
}
	.confirm p {
		font-size: .8em;
	}
form{
	width: 400px;
	margin-bottom: 40px;
	position: relative;
}
form label {
	display: block;
	margin-bottom: 5px;
}
form input {
	width: 200px;
	margin-bottom: 5px;
}
form .btn_green {
	color: white;
	background-color: green;
	box-shadow: gray 3px 3px 3px;
	width: auto;
	display: block;
	margin-top: 10px;
	padding: 2px 5px;
	font-size: .9em;
	position: absolute;
	right: 200px;
}

/* For user level selection */
.dropdown {
	width: 200px;
}

/*dashboard title*/
h3.inline-block {
	display: inline-block;
}

/* admin buttons */
.btn_blue {
	color: white;
	background-color: blue;
	box-shadow: gray 3px 3px 3px;
	width: auto;
	display: inline-block;
	padding: 2px 5px;
	position: absolute;
	right: 0px;
	top: 35px;
	font-size: .9em;
}

/*dashboard table css settings */
table {
	border: 2px solid #bbb;
	margin-top: 20px;
}

/* profile edit box title */
h5 {
	margin-top: 0px;
}

/* user edit profile box */
.edit_box {
	display: inline-block;
	width: 300px;
	border: 1px solid black;
	padding: 20px;
	margin-right: 30px;
	vertical-align: top;
}
.edit_description_box {
	width: 630px;
	border: 1px solid black;
	padding: 20px;
	margin: 30px 0px;
}
	.description {
		position: relative;
		width: 630px;
	}
		.description input{
			right: 0px;
		}
	#description{
		width: 590px;
		margin: 0px auto;
		height: 80px;
	}

/* user information table */
table#info {
	border: none;
	margin-bottom: 20px;
}
	#info td {
		padding: 5px 10px;
	}

/* message box */
.message {
	margin-top: 70px;
}
.leave_message {
	width: 630px;
	height: 50px;
}
	.leave_message .btn_green, .leave_comment .btn_green {
		right: 0px;
	}
.message_content, .comment_content {
	border: 1px solid black;
	width: 630px;
	height: 50px;
	padding: 5px;
}
.time {
	float: right;
	margin-right: 240px;
}
.comment {
	margin-left: 30px;
}
	.leave_comment {
		width: 575px;
		height: 50px;
		margin-left: 15px;
	}
	.comment_content {
		width: 575px;
		margin-left: 30px;
	}